div.app > header a {
  color: white;
}

nav {
  display: flex;
  gap: 1rem;
  text-align: center;
  padding: 1px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
}

nav > div.button {
  height: 35px;
  width: 120px;
  text-align: center;
  background-color: white;
  border-radius: 35px;
  border: solid rgb(63, 80, 91);
}

nav > div.button a {
  color: rgb(1, 1, 1);
}
