.App {
  text-align: center;
}

.App > main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  flex-grow: 1;
}

header {
  background-color: aqua;
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-family: fantasy;
  font-size: x-large;
  align-items: center;
  justify-content: center;
}

main {
  flex-grow: 1;
}

footer {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: auto;
  padding: 5px;
  text-align: center;
  position: relative;
}
